*.o
*.tar.gz
*.deb
output/
*.img
*.patch
*.diff
*.rej
*.orig
*.config
.cache
.claude
Android/app/src/main/assets/binaries/
Android/app/src/main/assets/supported_locales.txt

# Keystores
*.keystore
local.properties

# IDE / tooling
compile_commands.json

# Nix stuff
/result
*.qcow2

# Android stuff
.gradle